<div class="box-block">
  <div class="tabs is-centered is-medium is-boxed">
    <ul>
      <li class="<%= 'is-active' if @tab == 'encuentros_edit' %>">
        <%= link_to 'Generales', edit_encuentro_path(@encuentro_tabs) %>
      </li>
      <li class="<%= 'is-active' if @tab == 'charlas_index' %>">
        <%= link_to 'Charlas', encuentro_charlas_path(@encuentro_tabs) %>
      </li>
      <li class="<%= 'is-active' if @tab == 'conciertos_index' %>">
        <%= link_to 'Conciertos', encuentro_conciertos_path(@encuentro_tabs) %>
      </li>
      <li class="<%= 'is-active' if @tab == 'exponentes_index' %>">
        <%= link_to 'Exponentes', encuentro_exponentes_path(@encuentro_tabs) %>
      </li>
      <li class="<%= 'is-active' if @tab == 'encuentros_configuracion' %>">
        <%= link_to 'Configuración', encuentro_configuracion_path(@encuentro_tabs) %>
      </li>
    </ul>
  </div>
</div>
